/* common-css-code start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0px auto;
   /* border: 1px solid red; */
}
.d-flex{
    display: flex;
} 
ul{
    padding: 0px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.title h2{
    color: #3b4045;
    font-size: 60px;
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
}
.title h3{
    color: #3B4057;
    font-size: 20px;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
}
.title p{
    color: #3b4045;
    font-size: 18px;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
}
.space-between{
    justify-content: space-between;
}
.mb-40{
    margin-bottom: 40px;
}
/*
font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Serif Pro', serif;
*/
/* common-css-code end */
nav {
    margin: 10px 0px;
}
.nav-inner .nav-logo a{
    color: rgba(0, 0, 0, 0.9);
    font-size: 25px;
    font-weight: 400;
    font-family: 'Source Serif Pro', serif;
}
.nav-inner  a{
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 700;
    font-family: 'Jost', sans-serif;
    padding: 20px;
    text-align: center;
}
/* header-code-start */
header{
    margin: 80px 0px;
}
.header-inner .header-poster{
    flex: 1;
    display: flex;
    justify-content: center;
}
.header-inner .header-poster img{
    display: block;
    height: 500px;
    padding: 30px 0px;
}
.header-inner .header-content{
    flex: 1; 
}
.header-inner .header-content h2{
    color: #3b4045;
    font-size: 47px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
      padding: 30px;
      transition: 0.5s all;
      max-width: 560px;
}
.header-inner .header-content h2:hover{
    color: #343a40;
}
.header-inner .header-content p{
    color: #3b4045;
    font-size: 18px;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    margin-left: 60px;
}
.header-inner .header-content a{
    color: #fff;
    border: 1px solid #ddd;
    padding: 20px 40px;
    background: #F9A743;
    border-radius: 40px;
    display: inline-block;
    margin: 20px 0px;
    margin-left: 60px;
    box-shadow: 20px 10px 33px #fde3c4;
}
/* header-code-end */


/* Features-code-start */
.Features-inner .title h2{
    text-align: center;
}
.content-section{
    flex: 1;
}
.content-section .title{
    margin: 60px 0px;
    line-height: 1.5;
}
.content-section .title h3{
    color: #3B4057;
    font-size: 20px;
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
}
.content-section .title p{
    color: #3b4045;
    font-size: 18px;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
}
.poster-section{
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    margin: 45px 0px;
}
.content-section-right{
    flex: 1;
}
.content-section-right .title{
    margin: 60px 0px;
    line-height: 1.5;
}
.content-section-right .title h3{
    color: #3B4057;
    font-size: 20px;
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
}
.content-section-right .title p{
    color: #3b4045;
    font-size: 18px;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
}
/* Features-code-end */

/* Professionals-section start */
.Professionals-section{
    background: #F9A743;
    margin: 90px 0px;
}
.Professionals-section .header-inner .header-poster{
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}
.Professionals-section .header-inner .header-poster img{
    display: block;
    height: 500px;
    padding: 30px 0px;
}
.Professionals-section .header-inner .header-content{
    flex: 1; 
    padding: 140px 0px;
}
.Professionals-section .header-inner .header-content h2{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
     font-family: "Josephine Sans" , sans-serif;
      padding: 30px;
    }
.Professionals-section .header-inner .header-content p{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    margin-left: 30px;
    line-height: 1.7;
}
/* Professionals-section end */

/* Apple-Watch-section-code-start */
.Apple-Watch-section h2{
    color: #3c3c3c;
    font-size: 40px;
    font-weight: 700;
    font-family: "Josephine Sans" , sans-serif;
    text-align: center;
}
.Apple-Watch-section .header-inner .header-content {
    margin: 50px 0px;
}
.Apple-Watch-section .header-inner .header-content h3{
    color: #3c3c3c;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
      padding: 30px;
    }
.Apple-Watch-section .header-inner .header-content p{
        color: #3b4045;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Source Sans Pro', sans-serif;
        margin-left: 30px;
        line-height: 1.7;
    }
.Apple-Watch-section .header-inner .header-content a{
        color: #fff;
        border: 1px solid #ddd;
        padding: 20px 40px;
        background: #F9A743;
        border-radius: 40px;
        display: inline-block;
        margin: 20px 0px;
        margin-left: 30px;
        /* box-shadow: 5px 10px 42px #fde3c4; */
        box-shadow:0 15px 40px rgb(249 167 68 / 50%);
 }
/* Apple-Watch-section-code-end */
/* Customer-section-start */
.Customer-section{
    flex: 1;
    margin: 20px 0px;
}
.Customer-poster{
    flex: 1;
}
.Customer-poster img {
    padding: 10px 95px;
}
.Customer-section .Customer-inner .Customer-section h3{
    color: #3c3c3c;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
      padding: 30px;
    }
    .Customer-section .Customer-inner .Customer-section p{
        color: #3b4045;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Source Sans Pro', sans-serif;
        margin-left: 30px;
        line-height: 1.7;
    }
    .Customer-section .Customer-inner .Customer-section a{
        color: #fff;
        border: 1px solid #ddd;
        padding: 20px 40px;
        background: #F9A743;
        border-radius: 40px;
        display: inline-block;
        margin: 20px 0px;
        margin-left: 30px;
        box-shadow:0 15px 40px rgb(249 167 68 / 50%);
 }
/* Customer-section-end */
.container h2{
    color: #3c3c3c;
    font-size: 40px;
    font-weight: 700;
    font-family: "Josephine Sans" , sans-serif;
    text-align: center;
    margin: 20px 0px;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0px;
  z-index: 1;
  margin: 70px 0px;
}

 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.product-section{
   background: url(../img/call-to-action.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
    background: linear-gradient( rgba (1,0,0,.0), rgba(1,0,0,0)), url(../img/call-to-action.jpg);
  }
.product-content{
    text-align: center;
}
.product-content h2{
    color: #ddd;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;
}
.product-content p{
    color: #ddd;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    padding: 15px 0px;
}
.product-content input{
    border:1px solid #fff;
    padding: 12px 66px;
    border-radius: 20px;
}
.product-content button{   
     padding: 14px 66px;
    border-radius: 10px 30px;
    border: navajowhite;
    color: #ddd;
    background: #F9A743;
font-size: 20px;
}
/* revice-section start  */
section.Review-section {
    margin: 100px 0px;
}
.Review-section .review-inner h2{
    color: #3c3c3c;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.Review-section .review-inner .watch-Review-section .review-content i{
    color: #F9A743; 
    display: flex;
    justify-content: center;
}
.Review-section .review-inner .watch-Review-section .review-content p{
    color: #777777;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0px;
 
}
.Review-section .review-inner .watch-Review-section .review-content img{
    border-radius: 50%;
    width: 70px;
    display: block;
    display: flex;
    justify-content: center;
}
.Review-section .review-inner .watch-Review-section .review-content h4{
    color: #3b4045;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
.Review-section .review-inner .watch-Review-section .review-content h6{
    color: #3b4045;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    line-height: 2.5;
}
.review-content {
    margin: 0px 25px;
    padding: 80px 0px;
}
.Review-section .review-inner a{
    color: #fff;
    border: 1px solid #ddd;
    padding: 20px 40px;
    background: #F9A743;
    border-radius: 40px;
    display: inline-block;
    margin: 40px 0px;
    margin-left: 470px;
    box-shadow:0 15px 40px rgb(249 167 68 / 50%);
   
}
/* revice-section end */
footer{
    background: #F4F4F4;
    padding: 80px 0px;
}
footer .footer-content{
    text-align: center;
}
footer .footer-content a{
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
footer .footer-content a:hover{
     text-decoration: underline;
}
footer .footer-content ul{
    display: flex;
    justify-content: center;
}
footer .footer-content ul li {
    padding: 20px;
}
footer .footer-content ul li  a{
    color: #444444;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
footer .footer-content a:hover{
     text-decoration: underline;
}
footer .footer-content p{
    color: #888888;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif
}
